<div class="flexbot-container">
    <div class="has-blue-background">Box 1</div>
    <div class="has-yellow-background">Box 2</div>
    <div class="has-yellow-background">Box 3</div>
    <div class="has-blue-background">Box 4</div>
</div>